


body{
    background-color: white;
    background-image: url("/images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
    font: 11pt;
    font-family: Georgia, Garamond, serif;
    margin: 0 50px 0 50px;
}

#ingredientheading, #directionsheading, #mainHeading, #usercomments , #links{
    color: #A4A400;
    background-color: #f0f0f0;
}

.comment{
    background-color: yellow;
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;
}

#mainHeading > h1 {
    text-align: center;
    font: 22pt bold;   
}

#directionsheading > h1{
    font: 18pt normal; 
}

#ingredientheading > h1{
    font: 18pt normal; 
}

#usercomments > h1{
    font: 18pt normal; 
}

#links > h1{
    font: 18pt normal; 
}

a{
    color: #A4A400 ;
}

ul{
    list-style-image: url("../images/pie_bullet.png");
}

.copyright{
    width: 15vw;
    font-family: monospace;
    text-align: right;
}

#linethrough{
    text-decoration: line-through;
}